身体{
    字体系列：Arial、sans-serif；
    保证金：0；
    填充：0；
}

标头{
    背景颜色：#333；
    白颜色;​
    内边距：10像素；
    文本对齐：居中；
}

部分{
    边距：20像素；
    内边距：10像素；
    边框：1 px 实线#ccc；
}

输入{
    边距：5像素；
    内边距：5像素；
}

按钮{
    边距：5像素；
    内边距：5像素 10像素；
    背景颜色：#333；
    白颜色;​
    边框：无；
    光标：指针；
}

按钮：悬停 {
    背景颜色：#555；
}

桌子{
    宽度：100 %；
    边框折叠：折叠；
}

th, td {
    边框：1 px 实线#ccc；
    内边距：5像素；
    文本对齐：左对齐；
}

th {
    背景颜色：#f2f2f2；
}
